[USVISA]
; Account and current appointment info from https://ais.usvisa-info.com
USERNAME = example@example.com
PASSWORD = xxxxxxxxxx
; SCHEDULE_ID is in URL https://ais.usvisa-info.com/es-co/niv/schedule/SCHEDULE_ID/continue_actions
; SCHEDULE_ID is not IVR Account Number
SCHEDULE_ID = 99999999
; In case you required an appointment on ASC
NEED_ASC = True
; Spanish - Colombia
COUNTRY_CODE = es-co
; Bogotá
FACILITY_ID = 25
; Bogotá
ASC_ID = 26

[BLACKLISTED_DATES]
; Optional dates that should be skipped
DATE_RANGE_ONE = 2024-07-07,2024-07-17
DATE_RANGE_TWO = 2024-12-01,2024-12-31
DATE_RANGE_THREE = 2024-08-01

[ENVIRONMENT]
; Environment to use LOCAL or AWS
USE = AWS

[PUSHOVER]
; Get push notifications via https://pushover.net/ (optional)
PUSH_TOKEN = 
PUSH_USER = 

[SENDGRID]
; Get email notifications via https://sendgrid.com/ (optional)
SENDGRID_API_KEY = 
PRIMARY_EMAIL_RECIPIENT = primary@example.com

[GOOGLE_SHEETS]
; Add execution data to Google Sheets
SPREADSHEET_ID = 